body{
    margin: 0;
    padding: 0;
   overflow:hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
}
.sidebar-menu{
    background-color: aqua;
   
    width: 300px;
    color: black;
   /* overflow: hidden;*/
}

.main-div{
    display: flex;
    height: 100vh;
}

.main-content{
    background-color: rgb(205, 129, 36);
    flex:1;
    overflow: auto;
    color: black;
 


}
.player{
    background-color: blueviolet;
    bottom: 0px;
    width: 100%;
    height: 40px;
    position: fixed;
}
